.outerContainer {
  background-color: #fff;
  max-width: 600px;
  min-height: calc(100vh - 40px);
  margin: 20px auto 20px auto;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto 0 auto;
  width: 100%;
}

.footerText {
  color: #555;
  margin: 40px auto 0 auto;
  font-size: 16px;
}

.forgottenPassword {
    font-size: 0.9rem;
    text-align: center;
    padding: 10px 0 0 0;
}

.forgottenPasswordCTA {
  font-size: 0.9rem;
}

/* Mobile */
@media (max-width: 940px) {
  .outerContainer {
    min-width: calc(100vw - 40px);
    min-height: 500px;
    padding: 20px 10px;
    margin: 20px 20px 20px 20px;
  }

  .innerContainer {
    margin: 10px auto 0 auto;
    width: 95%;
  }

  .header {
    margin: 0 0 20px 0;
  }

  .forgottenPassword, .forgottenPasswordCTA {
    font-size: 1rem;
  }
}